# Critical Dependencies (must be installed first)
itsdangerous==2.1.2
starlette>=0.27.0
pydantic==2.9.2
protobuf==3.20.3
# Web Framework
fastapi==0.109.0
uvicorn[standard,websockets]==0.27.0
websockets==12.0
python-multipart==0.0.6
numpy
#flask-login
# AWS
boto3==1.34.14
aioboto3

# Google AI
google-generativeai==0.3.2
protobuf==3.20.3
tenacity
# Data Validation & Settings
pydantic==2.9.2
pydantic-settings>=2.0.0

# Utilities
requests==2.32.3
aiohttp
python-dateutil==2.9.0.post0
Pillow==10.2.0  # For image processing
setuptools>=65.5.1
# webrtcvad==2.0.10
scipy>=1.11.4
rich==13.7.0  # For enhanced console output
aiohttp
PyJWT[crypto]>=2.8.0

jinja2
requests
google-ai-generativelanguage
python-dotenv
django-routers
flask
flask-bcrypt
flask-jwt-extended
flask_sqlalchemy
psycopg2